{% extends 'base.html' %}
{% load static %}
{% block style %}
<style>
    .pointer-events {
        pointer-events: auto !important;
    }

    .input-field>.material-icons {
        padding-top: 9px;
    }

    .input-field div.error {
        position: relative;
        top: 0rem;
        left: 3rem;
        font-size: 0.8rem;
        color: #FF4081;
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
        transform: translateY(0%);
    }
</style>
{% endblock %}

{% block content %}
{% if messages %}
{% for message in messages %}
<script>
    window.onload = function () {
        M.toast({ html: '{{message}}' })
    }
</script>
{% endfor %}
{% endif %}
<div class="row container">
    <div class="s12">
        <h2 class="header center">비밀번호 재설정</h2><br>
    </div>
    <div class="s12 center">
        <span class="center">
            비밀번호를 다시 설정합니다.
        </span>
    </div>
</div>

<div class="row container">
    <div class="col s12 z-depth-4 card-panel" style="padding:1.5em">
        <form class="change-form" action="" method="post">
            {% csrf_token %}
            <div class="row margin">
                <div class="input-field col s12">
                    <i class="material-icons prefix">vpn_key</i>
                    <input id="new_password1" name="new_password1" type="password" />
                    <label for="new_password1">New Password</label>
                </div>
            </div>

            <div class="row margin">
                <div class="input-field col s12">
                    <i class="material-icons prefix">vpn_key</i>
                    <input id="new_password2" name="new_password2" type="password" />
                    <label for="new_password2">Confirm Password</label>
                </div>
            </div>

            <div class="input-field">
                <button id="submit_btn" type="submit" class="btn waves-effect waves-light col s12 teal">비밀번호
                    재설정</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="024043a3c5519cae295c26c5-text/javascript">
    $(".change-form").validate({
        rules: {
            new_password1: {
                required: true,
                minlength: 5,
                maxlength: 15
            },
            new_password2: {
                required: true,
                equalTo: "#new_password1"
            }
        },
        //For custom messages
        messages: {
            new_password1: {
                required: "비밀번호를 입력해주세요.",
                minlength: "비밀번호는 최소 5자리 이상 입력해주세요.",
                maxlength: "비밀번호는 15자리를 넘을 수 없습니다."
            },
            new_password2: {
                equalTo: "비밀번호가 일치하지 않습니다."
            }
        },
        errorElement: 'div',
        errorPlacement: function (error, element) {
            var placement = $(element).data('error');
            if (placement) {
                $(placement).append(error)
            } else {
                error.insertAfter(element);
            }
        }
    })
</script>
{% endblock %}