{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container">

    <h3 class="header">누가 KuHaKi를 이용할 수 있나요?</h3>
    <blockquote>
    고려대학교 하나과학관 키오스크는 보건과학대 학생만 이용 가능합니다.<br>
    KuHaKi에 등록되어있지 않은 수료생, 휴학생 분들께서는 정기 추가 신청때 신청해 주시기 바랍니다.
    </blockquote>
    <br>
    <h3 class="header">신청한 이메일 주소로 가입이 되지 않을 때</h3>
    <blockquote>
    보건과학대학 학생회 측에서 열람실 키오스크 가입 신청을 받고 있습니다. <br>
    신청을 하지 않으셨거나, 정보를 잘못 입력하셨을 수 있습니다. <br>
    정보가 누락되었는지 학생회 측에 문의하여주시고, <br>
    미신청자 분들께서는 정기적으로 보건과학대학 학생회에서 추가 신청을 받고있으니 신청기간에 꼭 신청해주시길 바랍니다. <br>
    </blockquote>
    <h3 class="header">이용 관련 문의</h3>
    <blockquote>
    회원가입 / 이용 관련 문의는 보건과학대 학생회 측으로 주시고, 기능 건의 / 버그 / 에러 / 서비스 장애 등의 문의는 개발자에게 연락 주시면 감사하겠습니다.<br>
    개발자 메일 주소 : <a class="grey-text" href="mailto:k.now9041@gmail.com">k.now9041@gmail.com</a> ,
    <a class="grey-text" href="mailto:zoomin2696@gmail.com">zoomin2696@gmail.com</a>
    </blockquote>
    
</div>



{% endblock %}